.btn {
  font-weight: 400; // 100到900
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none; // 这样用户不能复制文本
  border: none;
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  line-height: 150%; // 行间距
  border-radius: 0.25rem; // 圆角
  transition: 100ms; // 从其他状态过渡到此状态的时间
}

.btn:focus, .btn.focus {
  @extend .btn;
  outline: 0;
  box-shadow: 0 0 0.05rem 0.1rem rgb(125, 125, 125);
}

.btn:hover {
  @extend .btn;
  background-color: rgb(200, 200, 200);
}

.btn-green {
  @extend .btn;
  color: #fff;
  background-color: rgb(0, 150, 0);
}

.btn-green:focus, .btn-green.focus {
  @extend .btn-green;
  outline: 0;
  box-shadow: 0 0 0.03rem 0.1rem rgb(0, 130, 0); // 绿色
}

.btn-green:hover {
  @extend .btn-green;
  background-color: rgb(0, 120, 0);
}

.btn-red {
  @extend .btn;
}